.big-img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.big-img__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 550px) {
  .big-img__image {
    height: 375px;
  }
}
@media (max-width: 870px) {
  .big-img {
    max-height: 520px;
    padding-top: 18px;
  }
}
@media (max-width: 550px) {
  .big-img {
    max-height: 375px;
  }
}

.article-text {
  margin-top: 4rem;
}
.article-text__desc {
  width: 100%;
  max-width: 904px;
  color: #fff;
}
@media (max-width: 870px) {
  .article-text__desc {
    padding-right: 30px;
  }
}
@media (max-width: 550px) {
  .article-text__desc {
    padding-right: 14px;
  }
}
.article-text__desc h2 {
  font-weight: 450;
  font-size: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}
@media (max-width: 870px) {
  .article-text__desc h2 {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .article-text__desc h2 {
    font-size: 20px;
  }
}
.article-text__desc h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  margin-bottom: 2rem;
}
@media (max-width: 870px) {
  .article-text__desc h6 {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .article-text__desc h6 {
    font-size: 15px;
  }
}
.article-text__desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  margin-bottom: 14px;
}
@media (max-width: 870px) {
  .article-text__desc p {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .article-text__desc p {
    font-size: 13px;
  }
}
.article-text__desc ul,
.article-text__desc ol {
  margin: 0;
  margin-bottom: 14px;
  padding-left: 0.865rem;
}
.article-text__desc ul li,
.article-text__desc ol li {
  padding-left: 0.125rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}
@media (max-width: 870px) {
  .article-text__desc ul li,
  .article-text__desc ol li {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .article-text__desc ul li,
  .article-text__desc ol li {
    font-size: 13px;
  }
}
.article-text__desc ul li {
  list-style: disc;
}
.article-text__desc ol li {
  list-style: auto;
}
.article-text__desc div {
  margin-bottom: 35px;
}
.article-text__tags {
  margin-top: 4rem;
  padding-top: 34px;
  border-top: 0.8px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 870px) {
  .article-text__tags {
    margin-top: 6rem;
    gap: 1rem;
  }
}
@media (max-width: 550px) {
  .article-text__tags {
    margin-top: 4rem;
  }
}
.article-text__tags span {
  font-size: 18px;
}
@media (max-width: 870px) {
  .article-text__tags span {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .article-text__tags span {
    font-size: 15px;
  }
}
.article-text__info .article-info__type {
  height: 40px;
  padding: 10px 16px;
}
@media (max-width: 870px) {
  .article-text__info .article-info__type {
    height: 35px;
  }
}
.article-text__info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.article-text__networks {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.article-text__networks-icons {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.tg,
.wa,
.vk,
.copy {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  fill: rgba(28, 28, 28, 0.5);
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15.4589366913px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 870px) {
  .tg,
  .wa,
  .vk,
  .copy {
    height: 35px;
    width: 35px;
  }
}
.tg:after,
.wa:after,
.vk:after,
.copy:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  max-width: 18px;
  max-height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 870px) {
  .tg:after,
  .wa:after,
  .vk:after,
  .copy:after {
    max-width: 16px;
    max-height: 13px;
  }
}

.tg:after {
  background-image: url("/assets/img/icon/social/tg.svg");
}

.wa:after {
  background-image: url("/assets/img/icon/social/wa.svg");
}

.vk:after {
  background-image: url("/assets/img/icon/social/vk.svg");
}

.copy:after {
  background-image: url("/assets/img/icon/social/copy.svg");
}/*# sourceMappingURL=article-text.css.map */