.digital{
    padding-top: 175rem * 0.0625;
    padding-bottom: 130rem * 0.0625;
    @media (max-width: 550rem * 0.0625) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &__lottie{
        height: 300rem * 0.0625;
        @media (max-width: 550rem * 0.0625) {
            height: 220rem * 0.0625;
        }
    }
    &__text{
        font-size: 42rem * 0.0625;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-align: center;
        max-width: 725rem * 0.0625;
        margin-right: auto;
        margin-left: auto;
        @media (max-width: 870rem * 0.0625) {
            font-size: 36rem * 0.0625;
            max-width: 656rem * 0.0625;
        }
        @media (max-width: 550rem * 0.0625) {
            font-size: 20rem * 0.0625;
        }
    }
    @media (max-width: 870rem * 0.0625) {
    &--inner &__text{
        font-size: 28px;

        line-height: 36px; /* 128.571% */
        letter-spacing: -0.56px;
        max-width: 500px;
    }
}

@media (max-width: 550rem * 0.0625) {
    &--inner &__text{
        font-size: 20px;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
    }
    &--inner{
        padding-top: 12rem;
        padding-bottom: 6rem;
    }
}
    &__sub{
        font-size: 18rem * 0.0625;
        line-height: 135%;
        letter-spacing: -0.01em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
        @media (max-width: 870rem * 0.0625) {
            font-size: 16rem * 0.0625;
        }
        @media (max-width: 550rem * 0.0625) {
            font-size: 13rem * 0.0625;
            max-width: 240px;
        }
        span{
            background: var(--Linear, linear-gradient(281deg, #3824B0 -19.07%, #6163EF 138.2%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__btn{
        margin-right: auto;
        margin-left: auto;
        margin-top: 2.1rem;
        position: relative;
        z-index: 4;
    }
    &__wrap{
        margin-bottom: -250rem * 0.0625;
        &::after{
            display: block;
            content: '';
            width: 100%;
            height: 250rem * 0.0625;
            background:linear-gradient(180deg, #0f0f0f00 0%, #0f0f0faa 50%, #0f0f0f 100%);
            position: sticky;
            bottom: 0;
            z-index: 1;
            pointer-events: none;
        }
    }
    &--inner{
        position: relative;
        &::before{
            content: '';
            width: 650.931rem * 0.0625;
            height: auto;
            flex-shrink: 0;
            aspect-ratio: 81/61;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.2;
            filter: blur(60rem * 0.0625);
            background: linear-gradient(283deg, #5153ff -57.16%, #162eff 157.57%);
    border-radius: 50%;
mix-blend-mode: difference;
@media (max-width: 550rem * 0.0625) {
width: 100%;
}
        }
        background-color: #121212;
    }

}


.digital-t{
    position: absolute;
    animation: rotating 15s infinite linear;

    mix-blend-mode: hard-light;
    z-index: 1;
    &.--1{
        width: 241rem * 0.0625;
filter: blur(6rem * 0.0625);
top: 34rem;
right: 22rem;
@media (max-width: 870px) {
        
    display: none;
 
}
    }
    &.--2{
        width: 244rem * 0.0625;

filter: blur(10.530309677124023rem * 0.0625);
top: 2rem;
left: 30%;
@media (max-width: 870px) {
    width: 15.25rem;
    /* filter: blur(0.6581443548rem); */
    top: 2rem;
    left: 0%;
}
@media (max-width: 550rem * 0.0625) {
    width: 8.25rem;
    /* filter: blur(0.6581443548rem); */
    top: 15rem;
    left: 0%;
}
    }
    &.--3{
        width: 390rem * 0.0625;
        top: 25%;
        right: 4rem;
        @media (max-width: 870px) {
        
            width: 15.6875rem;
            top: 0%;
            right: 1rem;
        
    }
    @media (max-width: 550rem * 0.0625) {
        width: 10.6875rem;
        top: 1%;
        right: 1rem;
    }
    }
    &.--4{
        width: 443rem * 0.0625;
        top: 20%;
        left: -2rem;
        @media (max-width: 870px) {
        
               width: 8rem;
               top: 50%;
               left: 0;
        }
        @media (max-width: 550rem * 0.0625) {
            width: 5rem;
            top: 5%;
            left: 0;
        }
    }
}


