$fhd_res: 1920px;

$desktop_md_res: 1440px;

$tablet_res : 1050px;
$mobile_res: 450px;
$mobile_sm_res: 360px;


//colors
$text-white:#fff;
$text-gray: rgba(255, 255, 255, 0.35);

$accent_color: #6867ff;
//shadow

