<header class="header">
    <div class="header-container container">
        <div class="header-left">
            <div class="header-logo">
                <img src="assets/img/logo.svg" alt="logo">
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-head">
                        Главная
                    </div>
                    <div class="header-menu-list">
                        <div class="header-menu-item">
                            <a href="" class="header-menu-link">
                                О нас
                            </a>
                        </div>
                        <div class="header-menu-item">
                            <a href="service.html" class="header-menu-link">
                                Услуги
                            </a>
                        </div>
                        <div class="header-menu-item">
                            <a href="" class="header-menu-link">
                                Кейсы
                            </a>
                        </div>
                        <div class="header-menu-item">
                            <a href="" class="header-menu-link">
                                Блог
                            </a>
                        </div>
                        <div class="header-menu-item">
                            <a href="" class="header-menu-link">
                                Контакты
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="header-right">
            <a href="" class="header-link">
                <img src="assets/img/telegram.svg" alt="telegram">
            </a>
            <a href="" class="header-link">
                <img src="assets/img/whatsapp.svg" alt="whatsapp">
            </a>
            <a href="#form" class="btn header-btn">
                <span>Обсудить проект</span>
            </a>
        </div>
    </div>

</header>

<div class="menu-bottom">
    <div class="header-menu-list">
        <div class="header-menu-item">
            <a href="" class="header-menu-link">
                О нас
            </a>
        </div>
        <div class="header-menu-item">
            <a href="" class="header-menu-link">
                Услуги
            </a>
        </div>
        <div class="header-menu-item">
            <a href="" class="header-menu-link">
                Кейсы
            </a>
        </div>
        <div class="header-menu-item">
            <a href="" class="header-menu-link">
                Блог
            </a>
        </div>
        <div class="header-menu-item">
            <a href="" class="header-menu-link">
                Контакты
            </a>
        </div>
    </div>
    <div class="menu-bottom__main">
        <a href="#form" class="btn btn-menu-bottom visible" id="btn-menu-bottom_id">
            <span>
                Обсудить проект
            </span>
        </a>
        <div class="menu-bottom-burger">
            <div class="dash"></div>
        </div>
    </div>

</div>