<div class="popup" id="popup-team">
    <div class="popup__wrapper">
        <div class="popup__form">
            <div class="close"></div>
            <div class="popup__form-title">
                Отправить резюме
            </div>
            <div class="footer-form-content">
                <input type="text" name="name" placeholder="Ваше имя" class="footer-form-input">
                <input type="text" name="phone" placeholder="+ 7 (999) 999-99-99" class="footer-form-input">
                <div class="footer-form-select">
                    <div class="footer-form-select-head">Где удобно связаться?</div>
                    <div class="footer-form-select-options">
                        <label class="footer-form-select-option">
                            <input type="radio" name="contact" value="Telegram" class="visually-hidden">
                            <span class="footer-form-select-option-span">Telegram</span>
                        </label>
                        <label class="footer-form-select-option">
                            <input type="radio" name="contact" value="Whats'app" class="visually-hidden">
                            <span class="footer-form-select-option-span">Whats'app</span>
                        </label>
                        <label class="footer-form-select-option">
                            <input type="radio" name="contact" value="Телефон" class="visually-hidden">
                            <span class="footer-form-select-option-span">Телефон</span>
                        </label>
                    </div>
                </div>

                <textarea name="message" id="" class="footer-form-textarea" placeholder="Расскажите, на какую должность вы претендуете"></textarea>
                <label class="footer-form-file">
                    <input type="file" name="file" id="file" class="visually-hidden">
                    <span class="footer-form-file-span">
                        Прикрепите ваше резюме и портфолио
                    </span>
                </label>
                <button type="submit" class="footer-form-button btn">
                    <span>
                        Отправить
                    </span>
                </button>
              
                <div class="footer-form-policy">
                    <input type="checkbox" checked="" name="policy" id="policy" class="visually-hidden">
                    <label for="policy" class="footer-form-policy-label">
                        <span class="footer-form-policy-span">
                            Я ознакомлен и согласен с <a href="">политикой обработки персональных данных</a>
                        </span>
                    </label>
                </div>  
            </div>
        </div>
    </div>
</div>