{% set title = "Продвижение" %} {% set bodyClass = "" %} {% set show_info = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}

<!-- HERO BLOCK START -->

<section class="hero hero--dop hero--error" id="hero-block" data-bx-block="error">
    <div class="booking-hero__glow booking-hero__glow--bottom"></div>

    <div class="hero__c container hero__c--subpage">
        <div class="hero__main hero__main--subpage">
            <div class="hero__h1__wrap">
                <h1 class="hero__h1 animate-custom-7 wow">( 404 )<br>
                    Страница не найдена</h1>
            </div>
        </div>
        <div class="hero__txt">
            <p>
                А решение для вашего проекта — да. Давайте вернёмся на главную, чтобы продолжить знакомство с нами.
            </p>
        </div>
        <div class="hero__btns">
            <a href="#form" class="btn-call"><span>Заказать обратный звонок</span></a>
            <a href="#form" class="btn"><span>Обсудить проект</span></a>
        </div>
    </div>
    <img src="assets/img/error.png" alt="" class="hero__zag hero__zag-2" />
</section>

<!-- HERO BLOCK END -->



{% endblock %} {% block add_scripts %}
{% endblock %}