{% set title = "IMPro - Кейс проекта" %}
{% set bodyClass = "" %}
{% set show_info = true %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}


<section class="project" style="margin-top: 30%; margin-bottom: 30%;">
    <div class="project__title">
        <h1 class="t-title">Интеграция системы&nbsp;<br> бронирования «Контур»&nbsp;<br>в сайт на Tilda</h1>
        <div class="project__card">
            <div class="card">
                <img src="assets/img/cases/setting.svg" alt="">
                <p class="t-caption">Интеграции</p>
            </div>
            <div class="card">
                <img src="assets/img/cases/tilda.svg" alt="">
                <p class="t-caption">Tilda Publishing</p>
            </div>
            <div class="card">
                <img src="assets/img/cases/href.svg" alt="">
                <p class="t-caption">holmgardvillage.ru</p>
            </div>
        </div>
    </div>
    <div class="project__image">
        <img class="project__img" src="assets/img/cases/case-main.png" alt="Главное изображение проекта">
    </div>

    <div class="about-project">
        <div class="about-project__button">
            <a class="t-caption" href="">Описание проекта</a>
        </div>
        <div class="about-project__card">
            <div class="about-project__title">
                <h2 class="t-title-section">Расскажем, как мы автоматизировали бронирование на сайте этнопоселения
                    «Хольмгард»</h2>
            </div>
            <div class="about-project__nav">
                <div class="about-project__client">
                    <h2 class="t-text-muted">Клиент</h2>
                    <p class="t-text">Этнопоселение «Хольмгард», культурно-туристический проект с уникальной концепцией.
                        До
                        нас на сайте
                        работали обычные формы заявки в Tilda, и все обращения поступали через почту.</p>
                </div>
                <div class="about-project__goal">
                    <h2 class="t-text-muted">Цель проекта</h2>
                    <p class="t-text">Заменить стандартную форму на полноценный виджет онлайн-бронирования от сервиса
                        «Контур».</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}