{% set title = "IMPro - Проекты" %}
{% set bodyClass = "" %}
{% set show_info = true %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}


<!-- SMALL-HERO BLOCK START -->

<section class="hero small-hero">
    <div class="hero__c container hero__c--subpage">
        <div class="hero__main hero__main--subpage">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><span>Проекты</span></li>
            </ul>

            <div class="hero__tags tags hero__tags--subpage">

            </div>
            <div class="hero__h1__wrap">
                <h1 class="hero__h1 animate-custom-7 wow">
                    Проекты, которыми<br> мы гордимся
                </h1>
                <div class="page_header__subtitle">
                    Каждый кейс&nbsp;— это клиент, который сначала сомневался. А&nbsp;теперь зарабатывает. Было: «ничего
                    не&nbsp;работает». Стало: «давайте
                    масштабироваться»
                </div>
            </div>
</section>

<!-- HERO BLOCK END -->

<!-- NAV BLOG START -->
<section class="nav-blog nav-blog--big">
    <div class="container nav-blog__wrap">
        <div class="nav-blog__wrapper">
            <button class="nav-blog__item" data-filter="cases-all">
                Все
            </button>
            <button class="nav-blog__item" data-filter="cases-sites">
                Сайты
            </button>
            <button class="nav-blog__item" data-filter="cases-design">
                Дизайн
            </button>
            <button class="nav-blog__item" data-filter="cases-marketing">
                Продвижение
            </button>
            <button class="nav-blog__item" data-filter="cases-integrations">
                Интеграции
            </button>
            <button class="nav-blog__item" data-filter="cases-forums">
                Чат-боты
            </button>
        </div>
        <div class="nav-blog__wrapper">
            <button class="nav-blog__item" data-filter="cases-production">
                Производство
            </button>
            <button class="nav-blog__item" data-filter="cases-e-commerce">
                E-commerce
            </button>
            <button class="nav-blog__item" data-filter="cases-real-estate">
                Недвижимость
            </button>
            <button class="nav-blog__item" data-filter="cases-services">
                Услуги
            </button>
            <button class="nav-blog__item" data-filter="cases-food">
                Еда
            </button>
            <button class="nav-blog__item" data-filter="cases-education">
                Образование
            </button>
            <button class="nav-blog__item" data-filter="cases-science">
                Наука
            </button>
        </div>
    </div>
</section>
<!-- NAV BLOG END -->

<!-- CASES BLOCK START -->

<section class="cases">
    <div class="cases-list">
        <div class="cases-item">
            <img src="assets/img/cases/1.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>

                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/2.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/3.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/6.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/5.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Northern rice
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/4.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Ремонт за час
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/7.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/8.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cases-list">
        <div class="cases-item">
            <img src="assets/img/cases/case-9.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>

                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-10.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-11.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-12.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-13.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                        <a href="" class="cases-item__tag" data-filter="cases-real-estate">Недвижимость</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Northern rice
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-14.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Ремонт за час
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-15.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/13.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="cases-list">
        <div class="cases-item">
            <img src="assets/img/cases/case-16.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>

                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-17.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-18.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-19.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-20.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Northern rice
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-21.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-integrations">Интеграции</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        Ремонт за час
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-22.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-23.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="assets/img/cases/case-24.png" alt="" class="cases-item__bg">
            <div class="cases-item__content">
                <div class="cases-item__top">
                    <div class="cases-item__tags">
                        <a href="" class="cases-item__tag" data-filter="cases-sites">Сайты</a>
                        <a href="" class="cases-item__tag" data-filter="cases-design">Дизайн</a>
                        <a href="" class="cases-item__tag" data-filter="cases-marketing">Продвижение</a>
                    </div>
                    <div class="cases-item__nav">


                        <div class="cases-item__label"><img src="assets/img/cases/prize.svg" alt=""></div>
                        <a href="/case.html" class="cases-item__link">
                            <img src="assets/img/cases/link.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cases-item__bottom">
                    <div class="cases-item__category-wrap">
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                        <a href="" class="cases-item__category">
                            Корпоративные и промосайты
                        </a>
                    </div>
                    <a href="" class="cases-item__name">
                        ООО «Мытищинский приборостроительный завод»
                    </a>
                    <div class="cases-item__desc">
                        Новый дизайн и функционал корпоративного сайта подчеркивают инновационный подход компании,
                        улучшая пользовательский опыт и представление о бренде
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-item cases-item-action">
            <div class="cases-item__content">
                <div class="cases-item__t">
                    <div class="cases-item__project">
                        Здесь может быть<br>ваш проект
                    </div>
                </div>
                <div class="cases-item__b">
                    <a href="" class="btn cases-item__btn">
                        <span>
                            Обсудить проект
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CASES BLOCK END -->

{% endblock %}

{% block add_scripts %}
<!-- Подключаем необходимые библиотеки -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>

<script>
    $(function () {
        const $filterButtons = $('.nav-blog__item');
        const $cards = $('.cases-item');

        // Находим кнопку "Все" по data-filter="all"
        const $allButton = $filterButtons.filter('[data-filter="cases-all"]');
        const $otherButtons = $filterButtons.not($allButton);

        function filterCards() {
            // Собираем значения data-filter активных кнопок (кроме "Все")
            const activeFilters = $otherButtons
                .filter('.active')
                .map(function () { return $(this).data('filter'); })
                .get();

            $cards.each(function () {
                const $card = $(this);
                // Собираем data-filter тегов внутри карточки
                const cardFilters = $card.find('.cases-item__tag')
                    .map(function () { return $(this).data('filter'); })
                    .get();

                const shouldShow = activeFilters.length === 0 ||
                    cardFilters.some(filter => activeFilters.includes(filter));
                $card.toggle(shouldShow);
            });
        }

        function toggleFilterByTag(filterValue) {
            const $target = $otherButtons.filter(`[data-filter="${filterValue}"]`);
            if (!$target.length) return;

            $target.toggleClass('active');
            if ($allButton.hasClass('active')) {
                $allButton.removeClass('active');
            }
            filterCards();
        }

        // Обработчики для обычных кнопок
        $otherButtons.on('click', function () {
            const $this = $(this);
            $this.toggleClass('active');
            if ($allButton.hasClass('active')) {
                $allButton.removeClass('active');
            }
            filterCards();
        });

        // Кнопка «Все»
        if ($allButton.length) {
            $allButton.on('click', function () {
                $otherButtons.removeClass('active');
                $(this).addClass('active');
                $cards.show();
            });
        }

        // Клик по тегу внутри карточки
        $(document).on('click', '.cases-item__tag', function (e) {
            e.preventDefault();
            const filterValue = $(this).data('filter');
            if (filterValue) {
                toggleFilterByTag(filterValue);
            }
        });

        // Инициализация
        if ($allButton.length) {
            $allButton.addClass('active');
        }
    });
</script>


<!-- Скрипт для отправки формы (заменить на реальную логику отправки формы) -->
<script>

    $('.footer-form').on('submit', function (e) {
        e.preventDefault()
        is_valid = validateForm(this)
        if (is_valid) {
            $('.footer-form-form').hide()
            $('.footer-form-thx').show()
        }

    })

    function validateForm(form) {
        var isValid = true

        // Phone validation
        if ($(form).find('input[name=phone]').val() == '') {
            isValid = false
            $(form).find('input[name=phone]').addClass('error').attr('placeholder', 'Введите номер')
        }
        else {
            $(form).find('input[name=phone]').removeClass('error').attr('placeholder', '+7(999)999-99-99')
        }

        // Name validation
        if ($(form).find('input[name=name]').val() == '') {
            isValid = false
            $(form).find('input[name=name]').addClass('error').attr('placeholder', 'Введите имя')
        }
        else {
            $(form).find('input[name=name]').removeClass('error').attr('placeholder', 'Ваше имя')
        }

        // Email validation
        if ($(form).find('input[name=email]').val() == '') {
            isValid = false
            $(form).find('input[name=email]').addClass('error').attr('placeholder', 'Введите email')
        }
        else {
            $(form).find('input[name=email]').removeClass('error').attr('placeholder', 'Ваш email')
        }

        // Message validation
        if ($(form).find('textarea[name=message]').val() == '') {
            isValid = false
            $(form).find('textarea[name=message]').addClass('error').attr('placeholder', 'Введите сообщение')
        }
        else {
            $(form).find('textarea[name=message]').removeClass('error').attr('placeholder', 'Ваше сообщение')
        }

        // Contact method validation
        if ($(form).find('input[name=contact]:checked').length == 0) {
            isValid = false
            $(form).find('.footer-form-select').addClass('error')
        }
        else {
            $(form).find('.footer-form-select').removeClass('error')
        }

        return isValid
    }
</script>
{% endblock %}