{% set title = "IMPro - Кейс проекта" %}
{% set bodyClass = "" %}
{% set show_info = true %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}


<section class="project" style="margin-top: 30%; margin-bottom: 30%;">
    <h1 class="hero__h1">Интеграция системы&nbsp;<br> бронирования «Контур»&nbsp;<br>в сайт на Tilda</h1>
    <div class="project__card">
        <div class="card">
            <img src="assets/img/cases/setting.svg" alt="">
            <p>Интеграции</p>
        </div>
        <div class="card">
            <img src="assets/img/cases/tilda.svg" alt="">
            <p>Tilda Publishing</p>
        </div>
        <div class="card">
            <img src="assets/img/cases/href.svg" alt="">
            <p>holmgardvillage.ru</p>
        </div>
    </div>
    <div class="project__image">
        <img class="project__img" src="assets/img/cases/case-main.png" alt="Главное изображение проекта">
    </div>
</section>


{% endblock %}