{% set title = "IMPro - Отзывы" %} {% set bodyClass = "" %} {% set show_info = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}
<section class="review-page">
    <div class="container review-page__container">
        <ul class="breadcrumbs review-page__breadcrumbs">
            <li><a href="index.html">Главная</a></li>
            <li><span>Отзывы</span></li>
        </ul>

        <div class="review-page__grid">
            <div class="review-page__form-col">
                <div class="review-page__head">
                    <h1 class="review-page__title">Оставьте отзыв о нашей работе</h1>
                    <p class="review-page__subtitle">Ваши комментарии помогут сделать сотрудничество с нами ещё приятнее
                    </p>
                </div>

                <form action="" class="review-page-form" id="review-form">
                    <div class="review-page-form__line">
                        <input type="text" name="name" class="review-page-form__input" placeholder="Ваше имя">
                    </div>
                    <div class="review-page-form__line review-page-form__line--half">
                        <input type="text" name="company" class="review-page-form__input"
                            placeholder="Название компании">
                        <input type="text" name="position" class="review-page-form__input" placeholder="Ваша должность">
                    </div>
                    <div class="review-page-form__line">
                        <input type="tel" name="phone" class="review-page-form__input"
                            placeholder="+ 7 (999) 999-99-99">
                    </div>
                    <div class="review-page-form__line">
                        <label class="review-page-form__upload">
                            <input type="file" class="visually-hidden" name="photo">
                            <span class="review-page-form__upload-icon" aria-hidden="true"><img
                                    src="assets/img/domload.svg" alt="Иконка загрузки"></span>
                            <span>Загрузите ваше фото</span>
                        </label>
                    </div>
                    <div class="review-page-form__line review-page-form__line--textarea">
                        <textarea name="message" class="review-page-form__textarea"
                            placeholder="Расскажите о своих впечатлениях о работе с нами"></textarea>
                    </div>

                    <button type="submit" class="review-page-form__submit btn">
                        <span>Отправить</span>
                    </button>

                    <div class="review-page-form__policy">
                        <input type="checkbox" checked name="policy" id="review-policy" class="visually-hidden">
                       <label for="review-policy" class="footer-form-policy-label">
                            <span class="footer-form-policy-span">
                                Я ознакомлен и согласен с <a href="">политикой обработки персональных данных</a>
                            </span>
                        </label>
                    </div>
                </form>
            </div>

            <div class="review-page__image-col">
                <img src="assets/img/review.png" alt="Изображение для формы отзыва" class="review-page__image">
            </div>
        </div>
    </div>
</section>
<section class="review">
    <div class="container review__c">
        <div class="review-title">
            <span>Истории успеха — </span> <br />
            несколько отзывов довольных клиентов!
        </div>
    </div>
    <div class="review__content">
        <div class="reviews__list">
            <div class="reviews__item" data-slide="1">
                <div class="reviews__item-img">
                    <img src="assets/img/review/1.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="2">
                <div class="reviews__item-img">
                    <img src="assets/img/review/2.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="3">
                <div class="reviews__item-img">
                    <img src="assets/img/review/3.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="4">
                <div class="reviews__item-img">
                    <img src="assets/img/review/4.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="5">
                <div class="reviews__item-img">
                    <img src="assets/img/review/5.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="6">
                <div class="reviews__item-img">
                    <img src="assets/img/review/6.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="7">
                <div class="reviews__item-img">
                    <img src="assets/img/review/7.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="8">
                <div class="reviews__item-img">
                    <img src="assets/img/review/8.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="9">
                <div class="reviews__item-img">
                    <img src="assets/img/review/9.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="10">
                <div class="reviews__item-img">
                    <img src="assets/img/review/10.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="11">
                <div class="reviews__item-img">
                    <img src="assets/img/review/11.png" alt="" />
                </div>
            </div>
            <div class="reviews__item" data-slide="12">
                <div class="reviews__item-img">
                    <img src="assets/img/review/12.png" alt="" />
                </div>
            </div>
        </div>
        <div class="reviews-slider">
            <div>
                <div class="reviews-slider-item">
                    <img src="assets/img/review/1.png" alt="" class="reviews-slider-item__logo" />
                    <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                    <div class="reviews-slider-item-name">Алексей</div>
                    <div class="reviews-slider-item-post">Генеральный директор</div>
                    <div class="reviews-slider-item-text">
                        Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                        удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на
                        протяжении всего этого времени количество запросов, по которым наши сайты занимают первые
                        позиции растёт.
                    </div>
                </div>
            </div>

            <div class="reviews-slider-item">
                <img src="assets/img/review/2.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/3.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/4.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/5.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/6.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/7.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/8.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/9.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/10.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/11.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
            <div class="reviews-slider-item">
                <img src="assets/img/review/12.png" alt="" class="reviews-slider-item__logo" />
                <img src="assets/img/review/p1.png" alt="" class="reviews-slider-item-photo" />
                <div class="reviews-slider-item-name">Алексей</div>
                <div class="reviews-slider-item-post">Генеральный директор</div>
                <div class="reviews-slider-item-text">
                    Благодаря вашему высокому профессионализму, индивидуальному подходу и прекрасному коллективу нам
                    удаётся достигать высоких результатов. Уже год мы пользуемся услугами вашей компании и на протяжении
                    всего этого времени количество запросов, по которым наши сайты занимают первые позиции растёт.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block add_scripts %}
{% endblock %}
