{% set title = "IMPro - Страница услуг" %}
{% set bodyClass = "" %}
{% set show_info = true %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}

<div class="page-wrapper">
<!-- PAGE HEADER -->

<section class="page_header">
    <ul class="breadcrumbs container">
        <li><a href="index.html">Главная</a></li>
        <li><span>Услуги</span></li>
    </ul>
    <div class="container page_header__main">
        <div class="hero__slug">
            10 лет помогаем бизнесу
        </div>
        <div class="page_header__text">
            <h1 class="page_header__title">
                Полный цикл маркетинговых услуг для вашего бизнеса
            </h1>
            <div class="page_header__subtitle">
                Разработаем сайт, обновим фирменный стиль, запустим рекламу и привлечём новых клиентов.
            </div>
        </div>
    </div>
    <img src="assets/img/b0.png" alt="" class="blur blur--1">
</section>


<div class="service_list">
    <div class="service_list-item-wrap">
        <div class="service_list-item container">
            <dotlottie-wc
                src="https://lottie.host/cd8a06e4-7bb6-4da9-af19-0b52988e2b3c/QwseSr14Hj.lottie"
                style="width: 300px;height: 300px"
                speed="1"
                autoplay
                loop
            >
            </dotlottie-wc>
            <div class="service_list-item-info">
                <h2 class="service_list-item-title">
                    Разработка сайтов
                </h2>
                <div class="service_list-item-desc">
                    Создаем адаптивные и SEO-оптимизированные сайты. 
    Продумываем все до мелочей, чтобы превратить посетителей в клиентов и выделить его в цифровом пространстве.
                </div>
                <div class="service_list-item-list">
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Лендинг
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            E-commerce
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Корпоративный сайт
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Квиз-сайт
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Дизайн сайта
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Техническая поддержка и развитие сайтов
                        </div>
                        <div class="service_list-item-list-price">
                            от 70 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                </div>
                <a href="/site-dev.html" class="btn service_list-item-btn"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
    <div class="service_list-item-wrap">
        <div class="service_list-item container">
            <dotlottie-wc
            src="https://lottie.host/0815c2fa-76aa-4214-861e-4e77ae1672c8/0kexT4deSz.lottie"
            style="width: 300px;height: 300px"
            speed="1"
            autoplay
            loop
          ></dotlottie-wc>
            <div class="service_list-item-info">
                <h2 class="service_list-item-title">
                    Дизайн и брендинг
                </h2>
                <div class="service_list-item-desc">
                    Удержим внимание посетителей сайта, создадим единый фирменный стиль, отражающий ценности и миссию компании.
                </div>
                <div class="service_list-item-list">
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Фирменный стиль и брендбук
                        </div>
                        <div class="service_list-item-list-price">
                            от 45 000 ₽   
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Разработка логотипа
                        </div>
                        <div class="service_list-item-list-price">
                            от 22 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Дизайн сайта под верстку
                        </div>
                        <div class="service_list-item-list-price">
                            от 40 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Прототипирование
                        </div>
                        <div class="service_list-item-list-price">
                            от 25 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Презентации и гайды
                        </div>
                        <div class="service_list-item-list-price">
                            от 50 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Дизайн-поддержка
                        </div>
                        <div class="service_list-item-list-price">
                            от 2000 ₽/час  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                </div>
                <a href="/design.html" class="btn service_list-item-btn"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
    <div class="service_list-item-wrap">
        <div class="service_list-item container">
            <dotlottie-wc
            src="https://lottie.host/f0a17b8a-f8af-4ee4-992e-6ecd799c0b6f/5jbOBYpYUZ.lottie"
            style="width: 300px;height: 300px"
            speed="1"
            autoplay
            loop
          ></dotlottie-wc>
            <div class="service_list-item-info">
                <h2 class="service_list-item-title">
                    Продвижение
                </h2>
                <div class="service_list-item-desc">
                    Занимаемся комплексным SEO, контекстной рекламой, таргетированными кампаниями и настройкой Яндекс.Бизнес, чтобы ваш бренд был на виду и привлекал клиентов. 
                </div>
                <div class="service_list-item-list">
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Контекстная реклама
                        </div>
                        <div class="service_list-item-list-price">
                            от 55 000 ₽/мес   
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            SEO: поисковая оптимизация
                        </div>
                        <div class="service_list-item-list-price">
                            от 55 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Таргетированная реклама
                        </div>
                        <div class="service_list-item-list-price">
                            от 45 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Юзабилити-аудит сайта
                        </div>
                        <div class="service_list-item-list-price">
                            от 43 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            SMM-продвижение
                        </div>
                        <div class="service_list-item-list-price">
                            от 50 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Создание контента
                        </div>
                        <div class="service_list-item-list-price">
                            от 50 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                </div>
                <a href="/prodvizhenie.html" class="btn service_list-item-btn"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
    <div class="service_list-item-wrap">
        <div class="service_list-item container">
            <dotlottie-wc
            src="https://lottie.host/0f651a8a-32d9-41e3-bd76-0ef68687a079/onKsbPX8RT.lottie"
            style="width: 300px;height: 300px"
            speed="1"
            autoplay
            loop
          ></dotlottie-wc>
            <div class="service_list-item-info">
                <h2 class="service_list-item-title">
                    Интеграции
                </h2>
                <div class="service_list-item-desc">
                    Подключаем ваш сайт к внутренним CRM, системам аналитики и другим важным инструментам для эффективного управления и анализа
                </div>
                <div class="service_list-item-list">
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            CRM
                        </div>
                        <div class="service_list-item-list-price">
                            от 20 500 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Сервисы веб-аналитики
                        </div>
                        <div class="service_list-item-list-price">
                            от 35 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            1С
                        </div>
                        <div class="service_list-item-list-price">
                            от 40 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Сервисы бронирования
                        </div>
                        <div class="service_list-item-list-price">
                            от 35 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                    <a href="" class="service_list-item-list-item">
                        <div class="service_list-item-list-name">
                            Интернет-эквайринг
                        </div>
                        <div class="service_list-item-list-price">
                            от 20 000 ₽  
                        </div>
                        <div class="service_list-item-list-go">
    
                        </div>
                    </a>
                </div>
                <a href="/integrations.html" class="btn service_list-item-btn"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block add_scripts %}
            <!-- Скрипт для отправки формы (заменить на реальную логику отправки формы) -->
            <script>
                $('.footer-form').on('submit', function(e){
                    e.preventDefault()
                    is_valid = validateForm(this)
                    if (is_valid){
                        $('.footer-form-form').hide()
                        $('.footer-form-thx').show()
                    }

                })

                function validateForm(form){
                    var isValid = true
                    
                    // Phone validation
                    if ($(form).find('input[name=phone]').val() == ''){
                        isValid = false
                        $(form).find('input[name=phone]').addClass('error').attr('placeholder', 'Введите номер')
                    }
                    else{
                        $(form).find('input[name=phone]').removeClass('error').attr('placeholder', '+7(999)999-99-99') 
                    }
                    
                    // Name validation
                    if ($(form).find('input[name=name]').val() == ''){
                        isValid = false
                        $(form).find('input[name=name]').addClass('error').attr('placeholder', 'Введите имя')
                    }
                    else{
                        $(form).find('input[name=name]').removeClass('error').attr('placeholder', 'Ваше имя') 
                    }
                    
                    // Email validation
                    if ($(form).find('input[name=email]').val() == ''){
                        isValid = false
                        $(form).find('input[name=email]').addClass('error').attr('placeholder', 'Введите email')
                    }
                    else{
                        $(form).find('input[name=email]').removeClass('error').attr('placeholder', 'Ваш email') 
                    }
                    
                    // Message validation
                    if ($(form).find('textarea[name=message]').val() == ''){
                        isValid = false
                        $(form).find('textarea[name=message]').addClass('error').attr('placeholder', 'Введите сообщение')
                    }
                    else{
                        $(form).find('textarea[name=message]').removeClass('error').attr('placeholder', 'Ваше сообщение') 
                    }
                    
                    // Contact method validation
                    if ($(form).find('input[name=contact]:checked').length == 0){
                        isValid = false
                        $(form).find('.footer-form-select').addClass('error')
                    }
                    else{
                        $(form).find('.footer-form-select').removeClass('error')
                    }
                    
                    return isValid
                }
             </script>
{% endblock %}